.lfr-forms {
	&__form-view-ddm-target {
		display: flex;
		align-items: center;
		height: 16px;
		width: 100%;

		&.lfr-forms__form-view-ddm-target-over > span {
			background-color: #0b5fff;
			border-radius: 2px;
			display: inline-block;
			height: 2px;
			width: 100%;
		}
	}

	&__form-view-field-repeatable-dnd {
		padding: 4px 4px;

		&:focus,
		&:focus-within,
		&:hover {
			background: transparent;
			box-shadow: 0 0 0 0.125rem #0b5fff;
			cursor: grabbing;
			border-radius: 0 4px 4px;
		}

		.form-group {
			margin-bottom: 0;
		}
	}

	&__form-view-field-dragging {
		background-color: #fff;
		border-radius: 4px;
		border: 2px dashed #a7a9bc;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
		opacity: 0.7;
		padding: 2px 0 6px;
		padding: 2px 6px 6px !important;
		z-index: 10;
	}
}